@import 'signIn.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #1D2122;
  max-width: 1440px;
  margin:auto;
}

ul{
  @apply flex flex-row items-center gap-8 max-w-[960px] mx-auto font-bold md:text-[1.5vw] text-[1vw];
  
 
}

li{
  @apply hover:text-[#76D4EC] hover:font-bold text-white;
  @apply transition duration-300 ease-in-out;
}

nav{
  @apply p-4 flex flex-row items-center justify-between max-w-[1440px] mx-auto;
}

nav>a{
  @apply bg-[#76D4EC] text-[#092356] py-2 px-4 rounded-full hover:bg-[#8EEC76] font-bold mr-4;
  @apply transition duration-[400ms] ease-in;
}
nav>form{

  all:unset;

}
nav>img{
  height: auto;
  width: 8vw;
}

h1, h2, h3, h4, h5,h6{
  @apply text-xl md:text-[1.5rem] lg:text-[2rem] text-[#C3DCDF] font-extrabold font-passionOne;
  line-height: 120%;
}

h2{
  @apply text-base md:text-[1.5rem] lg:text-[2rem];
  line-height: 115%;
}

.header{
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 2rem;
}

.header>p{
  @apply text-lg md:text-[1.5rem] text-[#C3DCDF] font-raleway font-normal text-left;
  line-height: 120%
}

.hero{
  @apply flex items-center gap-16;
  height: 50%;
  margin-top: 8rem;
  width: 100%;
}

.hero>img{
  height: auto;
  width: 70%
}

.title_subtitle{
  @apply flex flex-col justify-between gap-8 text-[#C3DCDF] font-raleway font-normal text-left max-w-[50%] text-[1.5em]; 
}

.container {
    position: relative;
    width: 50%; /* Ajuste selon la taille de tes images */
    height: 100%;
    padding: 2rem; /* Ajuste selon la taille de tes images */
}


.schema{
  height: auto;
  width: auto;
}

.tuto_hell{
  @apply flex items-center justify-between mx-auto gap-32 py-32;
  padding-left:1rem;
  padding-right: 1rem;

}

.icon{
  height: auto;
  width: 12.5%;
}

.example>img{
  height: auto;
  width: 33%;
}

.tech{
  align-items: center;
  gap: 17rem;

}

.techicon{

  position: relative;
  width: 50%;
  height: 50vh;
  display: block;
  
}
  .techicon img{
    transition: all 0.2s ease-in-out;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: block;
    transform-origin: center;
  }
  
  .techicon:hover img{
    transform: rotate(var(--rotate)) translateX(var(--offsetx)) translateY(var(--offsety));
  }
  
  .techicon:hover .img-5 {
  transform: translate(-50%, -50%); /* Ou tout autre transformation fixe que tu veux */
}


  .techicon .img-1{
    --rotate: 15deg;
    --offsetx: 200px;
    --offsety: 100px;
    
  }
  
  .techicon .img-2{
    --rotate: -15deg;
    --offsetx: -300px;
    --offsety: 100px;
  }
  
  .techicon .img-3{
    --rotate: 25deg;
    --offsetx: 100px;
    --offsety: -300px;
  }
  
  .techicon .img-4{
    --rotate: -25deg;
    --offsetx: -200px;
    --offsety: -350px;
  }
  .techicon .img-5{
    --rotate: 2deg;
    --offsetx: 0;
    --offsety: 0;
    transform-origin: center;
    
  }
  form{
  @apply mx-auto py-4;
  width: 50%;
  display: flex;
  flex-direction: column;
  color: rgb(195 220 223);
  gap: 1em;

}
input{
  padding: 1em;
  border-radius: 1rem;
  color: #1D2122;
  width: 100%;
}
form>button{
  width: 100%;
  @apply bg-[#76D4EC] text-[#092356] py-2 px-4 rounded-full hover:bg-[#8EEC76] font-bold mr-4;
  @apply transition duration-[400ms] ease-in;
}

.formulaire{
  @apply pt-12 w-1/2 mx-auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.formulaire>h1{
  @apply py-8;
}

.formulaire>a{
  color: rgb(195 220 223);
  @apply font-raleway text-base ;
  padding: 1rem;
  border-radius: 16px;
  border:solid 1px cyan;

}