@layout.base() 
  @slot('meta')
    <meta name="description" content="Devign est une plateforme qui permet aux développeurs mobile 
    et aux designers d'interface de s'améliorer en faisant des projets inspiré de la vie réelle et
    ainsi de sortir de l'enfer des tutoriels sur internet en favorisant la pratique et la recherche" />
    
  @endslot
    

  @slot('main')
    @include('partials/header')
    @include('partials/main')
   
  @endslot

@end


