@layout.base()
    @slot('meta')
        <meta name="description" content="Page de connection et d'inscription à la plateforme Devign">
    @endslot

    @slot('main')
        <h1>Connection</h1>
    @end
@end